TELEGRAM_BOT_TOKEN=TU_BOT_TOKEN_AQUI
TELEGRAM_CHAT_ID=TU_CHAT_ID_AQUI

# Repositories
PUBLIC_REPO_NAME=nombre_del_repo_publico
PRIVATE_REPO_NAME=nombre_del_repo_privado
GITHUB_TOKEN=tu_github_personal_access_token

# Secret Keys
CLAVE_DESPLIEGUE=tu_clave_secreta_de_despliegue_aqui
